<section class="container">
  <div class="card-body">
    <nav class="text-center">
      <a href="#" class="nav-wrapper">
        <h1 class="my-4">Task List</h1>
      </a>
    </nav>
    <div class="buttons">
      <button class="btn btn-outline-success" (click)="openModel()">Add New Task</button>
    </div>

    <div class="task-list-pre">
      <div class="task-item-pre">
        <div class="details2">
          <span class="name2">Team Member</span>
          <span class="task2">Task</span>
          <span class="priority2">Priority</span>
          <span class="actions2">Actions</span>
        </div>
      </div>
    </div>

    <div class="task-list">
      <div *ngFor="let task of taskList; let i=index" class="task-item"
        [ngClass]="{'last-task': i === taskList.length -1}">
          <img [src]="task.avatar || './../assets/img/Health__2819_29.jpg'" alt="avatar" class="avatar">
          <span class="name">{{task.member}}</span>


          <span class="task">{{task.task}}</span>
          <span class="priority">{{task.priority}}</span>


        <div class="actions">
          <button class="btn btn-sm btn-primary" (click)="onEdit(task)">
            <fa-icon class="custom-icon" [icon]="faPenToSquare"></fa-icon>
          </button>
          <button class="btn btn-sm btn-danger" (click)="onDelete(task)">
            <fa-icon class="custom-icon" [icon]="faTrash"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="modal" id="myModal" #myModal>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Create New Task</h4>
        <button type="button" class="btn-close" (click)="closeModel()"></button>
      </div>
      <div class="modal-body">
        <div class="row mb-3">
          <div class="col-12">
            <label for="member">Member</label>
            <input type="text" [(ngModel)]="taskObj.member" class="form-control" placeholder="Member">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-12">
            <label for="task">Task</label>
            <input type="text" [(ngModel)]="taskObj.task" class="form-control" placeholder="Task">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-12">
            <label for="priority">Priority</label>
            <select [(ngModel)]="taskObj.priority" class="form-control">
              <option value="" selected disabled hidden>Choose here</option>
              <option value="high">High Priority</option>
              <option value="medium">Medium Priority</option>
              <option value="low">Low Priority</option>
            </select>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-12">
            <label for="avatar">Avatar</label>
            <input type="file" (change)="onFileChange($event)" class="form-control" accept="image/*">
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closeModel()">Close</button>
        <button type="button" class="btn btn-primary" (click)="saveTask()">Save Task</button>
      </div>
    </div>
  </div>
</div>